#map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Courier, monospace;
  }

  .mapContainer{
      width: 100%;
      height: 500px;
  }

  .header{
      height: 100px;
      padding-top: 3vh; 
      background-color: lightblue;
      text-align: center;
  }

  #headerTitle{
      font-size: 50px;
  }

  .mapTypeBtn{
      background-color: white;
      color: black;
      margin: 10px;
  }

  .mapTypeBtnContainer{
    display: block;
  }