#map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Courier, monospace;
  }

    .btnRowTitle{
    margin-top: auto;   
}

  .mapContainer{
      width: 100%;
      height: 500px;
  }

  .mapWrapper{
      padding: 0;
  }

  .header{
      height: 100px;
      padding-top: 3vh; 
      background-color: lightblue;
      text-align: center;
  }

  #headerTitle{
      font-size: 50px;
  }

  .mapTypeBtn{
      background-color: white;
      color: black;
      margin: 10px;
  }

  .zoomBtn{
    width: 40px;
    height: 40px;
    background-color: white;
    color: black;
    border-color: green;
    margin: 10px;
    font-weight: 900;
    border-radius: 50%;
  }

  .zoomBtn:hover{
    border-color: darkgreen;
    background-color: darkgreen;
  }

  .tiltBtn{
    background-color: transparent;
    color: black;
    border-color: orange;
    border-width: 3px;
  }

  .tiltBtn:hover{
    background-color: orange;
    color: black;
    border-color: orange;
}

  .tiltBtn:disabled{
    float: right;
    background-color: transparent;
    color: black;
    border-color: orange;
    border-width: 3px;
    border-style: dashed;
    transform: scale(0.8, 0.8);
    transition: all .3s ease;
  }

    .tiltBtn:disabled:hover{
        background-color: transparent;
        color: black;
        border-color: orange;
    }


  .mapTypeBtnContainer{
    display: block;
  }